@page "/documents"
@inject HttpClient Http;
@inject NavigationManager Navigation
@using BushcraftBlog.Shared.Models;

<h2>List of Bushcraft Documents</h2>

@if (allDocuments == null)
{
    <p>Fetching documents</p>
}
else
{
    <h3>Here are @allDocuments.Length Bushcraft Documents for you 🙂👍</h3>

    @foreach (var doc in allDocuments)
    {
@*         <div class="documentCard" @onclick="() => NavigateToSingleDocumentComponent(doc.Id)">
            <img src="./img/DocumentIconSmall.jpg" /><p>@doc.Name</p>
        </div> *@

        <div class="card bg-dark text-white" @onclick="() => NavigateToSingleDocumentComponent(doc.DocumentId)">
            <img class="card-img" src="./img/cutout01.jpg" alt="@doc.Name">
            <div class="card-img-overlay">
                <h5 class="card-title">@doc.Name</h5>
                <p class="card-text">@doc.Heading &hellip;</p>
            </div>
        </div>
    }
}

@code {
    private Document[]? allDocuments;

    private void NavigateToSingleDocumentComponent(int DocumentId)
    {
        Navigation.NavigateTo($"documents/{DocumentId}");
    }

    protected override async Task OnInitializedAsync()
    {
        allDocuments = await Http.GetFromJsonAsync<Document[]>("api/documents");
    }
}