@page "/"
@page "/documents"
@inject HttpClient Http;
@inject NavigationManager Navigation
@using BushcraftBlog.Shared.Models;

<h2>List of Bushcraft Documents</h2>

@if (allDocuments == null)
{
    <p>Fetching documents</p>
}
else
{
    <h3>Here are @allDocuments.Length Bushcraft Documents for you 🙂👍</h3>

    @foreach (var doc in allDocuments)
    {
        <div class="card bg-dark text-white" @onclick="() => NavigateToSingleDocumentComponent(doc.DocumentId)">
            <img class="card-img" src="./img/cutout01.jpg" alt="@doc.Name">
            <div class="card-img-overlay">
                <h5 class="card-title">@doc.Name</h5>
                <p class="card-text">@doc.Heading &hellip;</p>
                <div class="card-text h-75">
                    @if (SplitStrings(doc.TopicStrings).Length > 0 || SplitStrings(doc.TagStrings).Length > 0)
                    {
                        <div class="d-flex align-items-end h-100">
                            @if (SplitStrings(doc.TopicStrings).Length > 0)
                            {
                                <span class="d-flex align-items-end">
                                    <b>Topics:</b>
                                    @foreach (string topic in SplitStrings(doc.TopicStrings))
                                    {
                                        <a href="#" class="mx-1 btn btn-sm btn-outline-light topicsTagsBtn">@topic</a>
                                    }
                                </span>
                            }
                            @if (SplitStrings(doc.TagStrings).Length > 0)
                            {
                                <span class="d-flex align-items-end">
                                    <b>Tags:</b>
                                    @foreach (string topic in SplitStrings(doc.TagStrings))
                                    {
                                        <a href="#" class="mx-1 btn btn-sm btn-outline-light topicsTagsBtn">@topic</a>
                                    }
                                </span>
                            }
                        </div>
                    }

                </div>
            </div>
        </div>
    }
}

@code {
    private Document[]? allDocuments;

    private void NavigateToSingleDocumentComponent(int DocumentId)
    {
        Navigation.NavigateTo($"documents/{DocumentId}");
    }

    private string[] SplitStrings(string joinedString)
    {
        return joinedString.Split(',', StringSplitOptions.RemoveEmptyEntries);
    }

    protected override async Task OnInitializedAsync()
    {
        allDocuments = await Http.GetFromJsonAsync<Document[]>("api/documents");
    }
}